In [306]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import string
import itertools
from collections import Counter

In [307]:
data = pd.read_csv('data.csv',parse_dates=['release_date']).set_index("release_date")
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,vote_count,vote_average,release_year
release_date,,,,,,,,,,,,,,,
2015-06-09,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,5562,6.5,2015
2015-05-13,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,6185,7.1,2015
2015-03-18,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2480,6.3,2015
2015-12-15,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,5292,7.5,2015
2015-04-01,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2947,7.3,2015

In [308]:
len(data)

1890

# Предобработка датасета

In [309]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [310]:
item = data[data.budget == data.budget.max()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(4)

release_date
2010-12-02    The Warrior's Way - release_date
 tt1032751

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [311]:
item = data[data.runtime == data.runtime.max()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(2)

release_date
2003-02-21    Gods and Generals - release_date
 tt0279111

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [312]:
item = data[data.runtime == data.runtime.min()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(3)

release_date
2011-04-13    Winnie the Pooh - release_date
 tt1449283

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [313]:
item = round(data.runtime.mean())
display(item)
#print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(2)

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [314]:
item = round(data.runtime.median())
display(item)
answer_ls.append(1)

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [315]:
data['income'] = data.revenue.sub(data.budget)
item = data[data.income == data.income.max()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(5)

release_date
2009-12-10    Avatar - release_date
 tt0499549

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [316]:
item = data[data.income == data.income.min()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(2)

release_date
2010-12-02    The Warrior's Way - release_date
 tt1032751

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [317]:
item = data[data.income > 0]
print(len(item))
#print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [318]:
items = data[data.release_year == 2008]
item = items[items.income == items.income.max()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(4)

release_date
2008-07-16    The Dark Knight - release_date
 tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [319]:
items = data[(data.release_year > 2012)&(data.release_year <= 2014)]
item = items[items.income == items.income.min()]
print(item.original_title.to_string() + ' - ' + item.imdb_id.to_string(index=False))
answer_ls.append(5)

release_date
2013-07-03    The Lone Ranger - release_date
 tt1210819

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [320]:
c = Counter()
items = data.genres
for item in items:
    genres = item.split(sep='|')
    for g in genres:
        c[g]+=1
display(c.most_common(5))
answer_ls.append(3)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [321]:
c.clear()
items = data[data.income > 0].genres
for item in items:
    genres = item.split(sep='|')
    for g in genres:
        c[g]+=1
display(c.most_common(5))
answer_ls.append(3)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [322]:
c.clear()
items = data.director
for d in items:
    names = d.split(sep='|')
    for n in names:
        c[n]+=1            
display(c.most_common(5))
answer_ls.append(3)

[('Steven Soderbergh', 13),
 ('Ridley Scott', 12),
 ('Clint Eastwood', 12),
 ('Robert Rodriguez', 11),
 ('Steven Spielberg', 10)]

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [323]:
c.clear()
items = data[data.income > 0].director
for d in items:
    names = d.split(sep='|')
    for n in names:
        c[n]+=1            
display(c.most_common(5))
answer_ls.append(2)

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9)]

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. James Cameron
3. Christopher Nolan
4. David Yates
5. Peter Jackson

In [324]:
c = Counter()
for index, row in data.iterrows():
    names = row.director.split(sep='|')
    for name in names:
        c[name]+=row.income   
display(c.most_common(5))
answer_ls.append(5)

[('Peter Jackson', 5202593685),
 ('David Yates', 3379295625),
 ('Christopher Nolan', 3162548502),
 ('J.J. Abrams', 2839169916),
 ('Michael Bay', 2760938960)]

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [325]:
c.clear()
for i, r in data.iterrows():
    names = r.cast.split(sep='|')
    for n in names:
        c[n]+=r.income   
display(c.most_common(5))
answer_ls.append(1)

[('Emma Watson', 6666245597),
 ('Daniel Radcliffe', 6514990281),
 ('Rupert Grint', 6408638290),
 ('Ian McKellen', 6087375777),
 ('Robert Downey Jr.', 5316030161)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [326]:
c.clear()
for i, r in data[data.release_year == 2012].iterrows():
    names = r.cast.split(sep='|')
    for n in names:
        c[n]-=r.income   
display(c.most_common(5))
answer_ls.append(3)

[('Kirsten Dunst', 68109207),
 ('Timothy Spall', 51893525),
 ('James Kidnie', 51893525),
 ('Heidi Hawkins', 51893525),
 ('Malin Ã…kerman', 43733509)]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [327]:
c.clear()
movies = data[data.budget > data.budget.mean()]
for i, m in movies.iterrows():
    names = m.cast.split(sep='|')
    for n in names:
        c[n]+=1  
display(c.most_common(5))
answer_ls.append(3)

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [328]:
c.clear()
movies = data[data.cast.str.contains('Nicolas Cage')]
for i, m in movies.iterrows():
    genres = m.genres.split(sep='|')
    for g in genres:
        c[g]+=1
display(c.most_common(5))
answer_ls.append(2)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [329]:
c.clear()
for i, m in data.iterrows():
    orgs = m.production_companies.split(sep='|')
    for org in orgs:
        c[org]+=1
display(c.most_common(5))
answer_ls.append(1)

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 117),
 ('Twentieth Century Fox Film Corporation', 109)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [330]:
c.clear()
for i, m in data[data.release_year == 2015].iterrows():
    orgs = m.production_companies.split(sep='|')
    for org in orgs:
        c[org]+=1
display(c.most_common(5))
answer_ls.append(4)

[('Warner Bros.', 12),
 ('Universal Pictures', 10),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Paramount Pictures', 7),
 ('Columbia Pictures', 7)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [331]:
c.clear()
items = data[data.genres.str.contains('Comedy')]
for i, m in items.iterrows():
    orgs = m.production_companies.split(sep='|')
    for org in orgs:
        c[org]+=m.income
display(c.most_common(5))
answer_ls.append(2)

[('Universal Pictures', 8961545581),
 ('Walt Disney Pictures', 7669710326),
 ('Twentieth Century Fox Film Corporation', 5686960294),
 ('Columbia Pictures', 5646343696),
 ('DreamWorks Animation', 4789049764)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [332]:
c.clear()
items = data[(data.release_year == 2012)&(data.income > 0)]
for i, m in items.iterrows():
    orgs = m.production_companies.split(sep='|')
    for org in orgs:
        c[org]+=m.income
display(c.most_common(5))
answer_ls.append(3)

[('Columbia Pictures', 2513348241),
 ('Universal Pictures', 1996292364),
 ('Marvel Studios', 1299557910),
 ('Warner Bros.', 1265392564),
 ('Relativity Media', 1055375637)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [333]:
c.clear()
movies = data[data.production_companies.str.contains('Paramount Pictures')]
items = movies[movies.income == movies.income.min()]
print(items.original_title)
answer_ls.append(1)

release_date
2002-07-19    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [334]:
items = data.groupby(['release_year'])['income'].sum().sort_values()
display(items)
answer_ls.append(5)

release_year
2000     6101399805
2001     7950614865
2006     8691077320
2005     8981925558
2002     9002361487
2003     9228823312
2004     9634180720
2007    11565911801
2008    11663881990
2010    13117292530
2009    13423744372
2011    14730241341
2013    15243179791
2012    16077001687
2014    16397812953
2015    18668572378
Name: income, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [335]:
items = data[data.production_companies.str.contains('Warner Bros')]
movies = items.groupby(['release_year'])['income'].sum().sort_values()
print(len(items))
display(movies)
answer_ls.append(1)

183

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: income, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [336]:
month_name = data.index.month_name()
items = data.groupby(month_name)['imdb_id'].count().sort_values()
display(items)
answer_ls.append(4)

release_date
January      110
February     135
May          140
July         142
November     146
June         147
April        149
March        156
August       161
October      186
December     191
September    227
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [337]:
summer_movies = data[data.index.month.isin([6,7,8])]
month_name = summer_movies.index.month_name()
items = summer_movies.groupby(month_name)['imdb_id'].count()
display(items.sum())
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [338]:
c.clear()
items = data[data.index.month.isin([12,1,2])]
for i, m in items.iterrows():
    names = m.director.split(sep='|')
    for n in names:
        c[n]+=1
display(c.most_common(5))
answer_ls.append(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [339]:
movies = data.groupby([data.index.year, data.index.month])['income'].agg(sum_income=pd.NamedAgg(column='income',aggfunc='sum'))
movies_cond = movies.groupby(level=0).apply(lambda x: x == x.max())
max_movies = movies_cond[movies_cond['sum_income']==True]
count_max_movies = max_movies.groupby(level=1)['sum_income'].count().sort_values()
display(count_max_movies)
answer_ls.append(2)

release_date
7     1
5     4
12    4
6     7
Name: sum_income, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [340]:
name_companies = []
for i, r in data.iterrows():
    name_companies += [(r.imdb_id, x) for x in r.production_companies.split('|')]
companies = pd.DataFrame(name_companies, columns=['imdb_id', 'company'])
#display(companies)
data['len_title'] = data.original_title.str.len()
movies = data.merge(companies, on='imdb_id')[['company','len_title']].groupby('company').agg('mean').sort_values('len_title', ascending=False)
display(movies)

#avg_len_movies = data[data['original_title'].str.len() > data['original_title'].str.len().mean()]
#easy, fast
#c.clear()
#for i, m in avg_len_movies.iterrows():
#    names = m.production_companies.split(sep='|')
#    for n in names:
#        c[n] += 1
#display(c.most_common(5))

#slow
#split_items = avg_len_movies['production_companies'].apply(lambda r: r.split(sep='|'))
#movies = split_items.apply(lambda x: pd.Series(x).value_counts()).sum().sort_values()
#display(movies)

answer_ls.append(5)

                            len_title
company
Four By Two Productions          83.0
Jim Henson Company, The          59.0
Dos Corazones                    47.0
Polsky Films                     46.0
Museum Canada Productions        46.0
...                               ...
Everest Entertainment             3.0
Berlanti Productions              3.0
Global Entertainment Group        2.0
XM2 Productions                   2.0
Ixtlan Productions                2.0

[1772 rows x 1 columns]

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [341]:
data = data.reset_index()
data['len_words'] = data.original_title.apply(lambda x: len(x.split(' ')))
#display(data[['original_title','len_words']])
movies = data.merge(companies, on='imdb_id')[['company','len_words']].groupby('company').agg('mean').sort_values('len_words', ascending=False)
display(movies)
answer_ls.append(5)

                         len_words
company
Four By Two Productions       12.0
Jim Henson Company, The       10.0
Dos Corazones                  9.0
Polsky Films                   9.0
The Saul Zaentz Company        9.0
...                            ...
Jolie Pas                      1.0
Frantic Films                  1.0
Outpost Studios                1.0
Cinelou Films                  1.0
Danjaq                         1.0

[1772 rows x 1 columns]

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [342]:
words = set()
for i, r in data.iterrows():
    words |= set([x for x in r.original_title.split(' ')])
print(len(words))
words = set()
for i, r in data.iterrows():
    words |= set([x.lower() for x in r.original_title.split()])
print(len(words))
answer_ls.append(3)

2477
2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [343]:
items = (data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]
         .sort_values(['vote_average'],ascending = False))
movies = items[['original_title', 'vote_average']]
display(movies)
answer_ls.append(1)

                                     original_title  vote_average
600                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
873                                     The Pianist           7.9
1082  The Lord of the Rings: The Return of the King           7.9
1184                        The Wolf of Wall Street           7.9
1192                               12 Years a Slave           7.9
1801                                        Memento           7.9

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [344]:
c.clear()
for i, r in data.iterrows():
    names = r.cast.split('|')
    for n in ([name for name in itertools.permutations(names, 2)]):    
        c[n] += 1
print(c.most_common(5))
c.clear()
for i, r in data.iterrows():
    names = r.cast.split('|')
    for n in ([name for name in itertools.combinations(names, 2)]): 
        c[n] += 1
print('----------')
print(c.most_common(5))
answer_ls.append(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8), (('Daniel Radcliffe', 'Emma Watson'), 8), (('Rupert Grint', 'Daniel Radcliffe'), 8), (('Rupert Grint', 'Emma Watson'), 8), (('Emma Watson', 'Daniel Radcliffe'), 8)]
----------
[(('Daniel Radcliffe', 'Rupert Grint'), 8), (('Daniel Radcliffe', 'Emma Watson'), 8), (('Rupert Grint', 'Emma Watson'), 7), (('Ben Stiller', 'Owen Wilson'), 6), (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [345]:
#data = data.reset_index()
data = pd.read_csv('data.csv')
data['income'] = data.revenue.sub(data.budget)
name_directors = []
for i, r in data.iterrows():
    for n in r.director.split('|'):
        name_directors += [(r.imdb_id, n)]
directors = pd.DataFrame(name_directors, columns=['imdb_id', 'producer'])

merged = data.merge(directors, on='imdb_id')[['imdb_id','producer','income']]
#print(merged)
items = (merged.groupby('producer').agg({'imdb_id':len,
                                             'income':lambda m: len([x for x in m if x > 0])
                                            }))
items['koef'] = items.income / items.imdb_id
items = items[['koef']]
items = items.sort_values('koef', ascending = False)
answer_names = ['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
items = items.reset_index()
items = items[items['producer'].str.contains('|'.join(answer_names))]
display(items)
answer_ls.append(4)

              producer      koef
366  Christopher Nolan  1.000000
630  Quentin Tarantino  0.857143
634     Clint Eastwood  0.833333
659  Steven Soderbergh  0.769231
683   Robert Rodriguez  0.727273

# Submission

In [346]:
len(answer_ls)

36

In [347]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       2
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4